body{
    background-color: #333;
}

#turnSpan{
    display: flex;
    justify-content: center;
    font-size: 48pt;
    color: #ccc
}

#gameboard {
    margin: auto;
    height: 600px;
    width: 600px;
    background-color: #888;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}

td:hover{
    background-color: #444;
}
[data-color= "red"]{
    background-color: red;
}
[data-color= "black"]{
    background-color: black;
}
